input {
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
}

h1 {
  color: cyan;
  font-family: fantasy;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
